.div--about {
    background-color: #F3F4F6;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.div--about img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.div--about h2 {
    color: #1F2937;
    text-align: center;
    margin: 20px 0 10px 0;
}

.div--about p {
    color:#6B76A4;
    text-align: center;
    margin-bottom: 10px;
    max-width: 50%;
}

.div--about p a {
    margin-left: 10px;
    color: #6366F1;
}

.div--about p a:hover {
    border-bottom: 1px solid #6366F1;
}

.div--about hr {
    width: 25%;
    border: -10px solid gray;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .div--about {
        width: 100%;
        padding: 10px 25px;
    }

    .div--about p {
        max-width: 100%;
    }

    .div--about hr {
        width: 55%;
    }
}
