.section-results {
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #F3F4F6;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:  60px 1fr  100px;
    grid-template-areas: 
    "chip"
    "content"
    "footer"
    ;
}

.div--chip {
    grid-area: chip;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.div--chip  span {
    margin-left: 10px;
    background-color: #E5E5E5;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.div--chip  span i {
    background-color: #566573;
    color:#CCD1D1;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

/* TODO: scroll y*/

.div--chipContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0;
    width: 90%;
}

.section--resultsItems {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
 .section-results {
    grid-template-rows:  60px 1fr  80px; 
    }
}
