footer {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

.icon-footer {
    color: #8E939A;
    font-size: 1.3em;
    margin-right: 20px;
}

footer a {
    margin-top: 10px;
    color: #6B72A3;
}
