.div--gif {
    background-color: white;
    max-width: 300px;
    min-height: 200px;
    max-height: 400px;
    margin: 10px;
    border-radius: 0  0 20px 20px;
}

.img-gif {
    max-height: 80%;
    width: 100%;
}

.div--gif div {    
    width: 100%;
}

.div--gif div p {
    margin: 5px;
    text-align: center;
    color:#8E939A;
}

.div--Buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    
}
