html, body {
    min-width: 250px;
}

body {
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    width: 100%;
}


*{margin: 0; padding: 0; box-sizing: border-box; }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    height: 100%;
    width: 100%;
}