nav {
    height: 50px;
    width: 100%;
    background-color: #6366F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}

.button--navMenu {
    display: none;
}

.link--nav {
    font-size: 1em;
    font-weight: 700;
    color: white;
}

.form--movil {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.icon--navMenu-Close {
    display: none;
}

input {
    height: 35px;
    width: 90%;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    color: #9FB1CA;
}

.icon--nav {
    color: white;
    font-size: 2em;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.icon--buttonNav {
    color: white;
    font-size: 1.5em;
}

@media screen and (max-width: 780px) {
    nav {
        padding: 0 20px;
    }
    .a--navMenu, .button--navMenu {
        display: block;
        font-size: 1.5em;
    }

    .form--movil{
        display: none;
    }

    .form--movil-active {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #6366F1;
        height: 50px;
        min-width: 100vw;
        display: flex;
        justify-content: space-around;
        padding: 0 30px;
        align-items: center;
    }

    .form--movil-active .icon--navMenu-Close {
        display: block;
        color: white;
        font-size: 1.5em;
        margin-top: 3px;
        margin-right: 10px;
    }
}
