.div-logo{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-logo p {
    font-size: 0.8em;
    color: #8E939A;
}

.start-logo {
    max-height: 50vh;
    width: 100%;
   animation: App-logo-spin 15s infinite;
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
